html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, serif, sans-serif, 'Helvetica', Montserrat;
    background-color: #e9e9e9;
    height: 100%
}

.content {
    background: white;
    min-height: calc(100% - 161px);
    max-width: 1920px;
    height: auto;
    font-size: 20px;
    margin: 0 10%;
    padding: 0 50px;
    padding-bottom: 80px;
}

.content .section {
    font-size: 36px;
    margin: 0;
    text-align: center;
    padding: 30px 5% 10px 5%;
}

.content .section-title {
    font-size: 26px;
    margin: 0;
    text-align: center;
    padding: 10px 5%;
}

.content p {
    text-indent: 50px;
    text-align: justify;
    margin: 0;
    padding: 10px 20px;
}

.content ul {
    list-style-type: none;

    padding: 10px 8%;
    margin: 0;
}

.content a {
    color: black;
    text-decoration-line: none;
}

.content p a {
    color: #0077aa;
}

.content p a:hover {
    color: aqua;
}

.content li a:hover span {
    color: #71ebff;
}

.content img {
    display: block;
    margin: 0 auto;
}

.example {
    background-color: #f9f9f9;
    padding: 0 30px;
    margin: 10px;
    border: 2px solid #e4e4e4;
}

.warning {
    background-color: #fffdcb;
    padding: 0 30px;
    margin: 10px;
    border-left: 20px solid #505050;
}

mark {
    background: #e4e4e4;
    border-radius: 5px;
    padding: 0 10px;
}

.markJSX {
    background: rgb(168, 233, 255);
}

.button {
    bottom: 0;
    width: 1920px;
    max-width: 100%;
}

.button a {
    display: inline-block;
    background: #505050;
    padding: 8px 0;
    color: white;
    text-align: center;

    min-width: 8%;
    width: auto;
    margin: 10px 0 10px 41.5%;

    border-radius: 12px;
}

.button a:hover {
    background: #71ebff;
}

.button a.next {
    float: right;
    margin-left: 0;
    margin-right: 41.5%;
}

table {
    margin: auto;
    align-content: center;
    width: 95%;
    border-collapse: collapse;
    border: 1px solid grey;
}

th,
td {
    text-align: left;
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid grey;
}

th {
    background: #ececec;
}

.th {
    width: 40%;
}

/*Стили списков лабараторных работ*/

.lr-list {
    counter-reset: li;
    list-style: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.lr-list a {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #D3D4DA;
    color: #000;
    text-decoration: none;
    transition: all .3s ease-out;
}

.lr-list a:hover {
    background: #DCDDE1;
}

.lr-list a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #9097A2;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.lr-list a:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.lr-list a:hover:after {
    left: -.5em;
    border-left-color: #9097A2;
}

.content img{
    max-width: 50%;
}

@media only screen and (max-width: 798px) {
    .content {
        margin: 0;
        padding: 0;
        padding-bottom: 80px;
    }

    .lr-list {
        padding-right: 40px;
    }

    .brand {
        font-size: 18px;
    }
    .content img{
    max-width: 90% !important;
}
}

/*Стили кнопок для перехода между лабами*/

.button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.atuin-btn {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
    overflow: hidden;
    z-index: 1;
}

.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
    color: #FFF;
}

.atuin-btn:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #2D6B9F;
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}

.atuin-btn:hover:before,
.atuin-btn:active:before,
.atuin-btn:focus:before {
    transform: translateX(0);
}

.atuin-btn span{
    visibility: hidden;
}

.lr-btn{
    margin-left: auto;
    margin-right: auto;
    display: table;
}